<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,500;1,600&display=swap"
  rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"></script>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - MySports</title>
    {% block head %}{% endblock %}
  </head>
  
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('main.index') }}">MySports</a>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="div-1"></div>
  
  
              {% if current_user.is_authenticated %}
              <ul class="navbar-nav my-2 my-lg-0 d-flex ms-auto me-4" >
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome, {{ current_user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('main.create_event') }}">Create an event</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.booked_events') }}">View booked events</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.manage_events') }}">Manage my events</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav my-2 my-lg-0 d-flex ms-auto me-4">
                  <li class="nav-item">
                    <a class="nav-link active me-4" aria-current="page" href="{{ url_for('auth.login') }}">Log in</a>
                  </li>
                  <li>
                    <form class="form me-2" action="{{ url_for('auth.register') }}">
                      <button type="submit" class="btn btn-success">Register</button>
                    </form>
                  </li>
                </ul>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="myfooter">
            <hr>
            <p>© 2021 mysports.com</p>
            <div style="padding: 30px;"></div>
        </div>
    </footer>
</body>

</html>