{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="hero-image" style="background-image: url({{ url_for('static', filename='img/hero2.jpg') }});">
  <div class="div-1"></div>
  <div class="container">
    <div class="hero-text">
      <h1 class="centered">My booked events</h1>
    </div>
    <div class="div-6"></div>
  </div>
</div>
<hr>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
      <div class="event-container">
        <a href="">
          <img class="img-fluid" src="{{ url_for('static', filename='img/football2.jpg') }}">
        </a>
        <div class="text-center">
          <a href="">
            <h4 class="">Basketball opens</h4>
          </a>
          <div class="row">
            <div class="col">
              <p>Order No:</p>
            </div>
            <div class="col">
              <p>5904589103</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Booked on:</p>
            </div>
            <div class="col">
              <p>5/08/2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}