{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="hero-image"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url({{ url_for('static', filename='img/hero1.jpg') }}); height: 40vh;">
    <div class="container">
        <div class="div-2"></div>
        <div class="hero-text">
            <h1>Create new event</h1>
            <p>Step 1: Details</p>
        </div>
    </div>
</div>


<div class="main-container">
    <div class="container">
        <div class="div-2"></div>
        <form action="" method="post" class="form">
            {{ form.csrf_token()}}
            <div class="div-1"></div>

            <div class="row">

                <div class="col-12 col-sm-4">
                    <h4 class="mytitle">What?</h4>
                    <div class="d-none d-sm-block">
                        <p class="mylead">
                            Tell us about the name, a brief description on what it is (who is playing, in what
                            competition,
                            etc.) and what type of sport.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-2"></div>
                <!--gap-->
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        {{ wtf.form_field(form.title, class='form-control')}}
                    </div>
                    <br>

                    <div class="form-group">
                        {{ wtf.form_field(form.image, class='form-control')}}
                    </div>

                    <br>
                    <div class="form-group">
                        {{ wtf.form_field(form.description, class='form-control')}}
                    </div>
                    <br>
                    <div class="form-froup">
                        {{ wtf.form_field(form.sport, class='form-select')}}
                    </div>
                </div>
            </div>

            <div class="div-3"></div>
            <hr>
            <div class="div-3"></div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <h4 class="mytitle">When?</h4>
                    <div class="d-none d-sm-block">
                        <p class="mylead">
                            Tell us when your event is planned to begin and end.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col tight-right">
                                {{ wtf.form_field(form.start_time, class='form-control', type='time')}}
                            </div>
                            <div class="col tight-left">
                                {{ wtf.form_field(form.start_date, class='form-control', type='date')}}
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col tight-right">
                                {{ wtf.form_field(form.end_time, class='form-control', type='time')}}
                            </div>
                            <div class="col tight-left">
                                {{ wtf.form_field(form.end_date, class='form-control', type='date')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-3"></div>
            <hr>
            <div class="div-3"></div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <h4 class="mytitle">Where?</h4>
                    <div class="d-none d-sm-block">
                        <p class="mylead">
                            Address and name of the venue where the event is being held.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-2"></div>

                <div class="col-12 col-sm-6">

                    <div class="form-group">
                        {{ wtf.form_field(form.venue, class='form-control')}}
                    </div>

                    <div class="form-group">
                        {{ wtf.form_field(form.street, class='form-control')}}
                    </div>

                    <div class="form-group">
                        {{ wtf.form_field(form.city, class='form-control')}}
                    </div>

                    <div class="row">

                        <div class="form-group col tight-right">
                            {{ wtf.form_field(form.state, class='form-control')}}
                        </div>

                        <div class="form-group col tight-left">
                            {{ wtf.form_field(form.postcode, class='form-control')}}
                        </div>
                    </div>



                </div>
            </div>

            <div class="div-3"></div>
            <hr>
            <div class="div-3"></div>


            <div class="row">
                <div class="col-12 col-sm-4">
                    <h4 class="mytitle">Other</h4>
                </div>
                <div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                {{ wtf.form_field(form.status, class='form-select')}}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                {{ wtf.form_field(form.tickets, class='form-control')}}
                            </div>

                            <div class="form-group">
                                {{ wtf.form_field(form.price, class='form-control')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-3"></div>
            <div class="float-right">
                <a href="{{ url_for('main.index') }}">
                    <button class="btn btn-primary">Cancel</button>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="div-3"></div>

    </div>
</div>
{% endblock %}