{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="cover-image"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='img/cover.jpg') }});">

  <div class="container hero-text-center">
    <h1>Community driven event management</h1>
    <div class="div-1"></div>
    <p>MySports platform was developed out of a need for a one-stop place to find ticket_quantity to sporting events all around
      the world. We work as a team to get you to the sideline, enjoying the sports you love. That we love. Through our
      shared passion for all things sporting we hope to give ubiquitous access to the games around you, wether they are
      Grand Finals or community games. Mysports, your sports, our-sports.</p>
    <a href="{{ url_for('.create_event') }}">
      <button type="button" class="btn btn-primary btn-lg">Create event</button>
    </a>
    <a href="#search">
      <button type="button" class="btn btn-primary btn-lg">Find an event</button>
    </a>
  </div>
</div>




<div class="container">
  <div class="row justify-content-center mt-5 pb-4">
    <div class="col-md-12">
      <div class="card shadow p-5 mb-5 bg-light" id="search">
        <h1 class="text-center mb-3">Search for the sporting event or creator...</h1>
        <br>
        <form class="d-flex">
          <select class="me-2 pe-5 py-2" id="category" name="category">
            <option value="all" selected>All</option>
            <option value="soccer">Soccer</option>
            <option value="football">Football</option>
            <option value="netball">Netball</option>
            <option value="basketball">Basketball</option>
            <option value="hockey">Hockey</option>
          </select>
          <input class="form-control me-2 pe-5 py-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-10 col-lg-8 mx-auto">
    <div class="div-3"></div>
    <div id="popular">
      <h1 class="mytitle">Popular</h1>

      <div class="row">
        {% for event in events %}
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="event-container">
            <a href="{{ url_for('.view_details', event_id=event.event_id) }}">
              <div class="img-container">
                <img src="{{ url_for('.download', filename=event.image) }}">
              </div>
            </a>
            <div class="event-container-content">
              <a href="{{ url_for('.view_details', event_id=event.event_id) }}" class="my-link">
                <h4>{{ event.title }}</h4>
              </a>
              <p class="mylead text-muted">By {{ event.user.username }}</p>
              <!--
                <p class="text-muted">{{ misc.get_day(event.start_time.weekday()) }}, {{ event.start_time.day}}
                  {{misc.get_month(event.start_time.month - 1)}} - {{ event.venue }} - {{event.status}}</p>
                -->
              <p>{{event.description[:100] }}<span class="text-muted">...</span></p>
              <!--Limited in length. Only a preview of the description-->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}