{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="cover-image"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='img/cover.jpg') }});">

  <div class="container hero-text-center">
    <h1>Community driven event management</h1>
    <div class="div-1"></div>
    <p>MySports platform was developed out of a need for a one-stop place to find tickets to sporting events all around
      the world. We work as a team to get you to the sideline, enjoying the sports you love. That we love. Through our
      shared passion for all things sporting we hope to give ubiquitous access to the games around you, wether they are
      Grand Finals or community games. Mysports, your sports, our-sports.</p>
    <a href="{{ url_for('.create_event') }}">
      <button type="button" class="btn btn-primary btn-lg">Create event</button>
    </a>
    <a href="#featured">
      <button type="button" class="btn btn-primary btn-lg">Find an event</button>
    </a>
  </div>
</div>


<div class="container-fluid">
  <div class="col-10 col-lg-8 mx-auto">

    <div id="featured">
      <div class="div-3"></div>
      <h1 class="mytitle">
        Featured
      </h1>

      <div id="carouselExampleCaptions" class="carousel slide my-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="">
              <img src="{{ url_for('static', filename='img/carousel3.jpg') }}" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
              <h5>Tornados vs Elphants</h5>
              <p>Sed rhoncus leo quis ex.</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="">
              <img src="{{ url_for('static', filename='img/carousel2.jpg') }}" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
              <h5>Lions vs Reindeer</h5>
              <p>Sed rhoncus leo quis ex.</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="">
              <img src="{{ url_for('static', filename='img/carousel1.jpg') }}" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
              <h5>Elves vs Angels</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="div-3"></div>

    <div id="popular">

      <h1 class="mytitle">Popular</h1>

      <div class="row">
        {% for event in events %}
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="event-container">
            <a href="{{ url_for('.view_details', event_id=event.event_id) }}">
              <div class="img-container">
                <img src="{{ url_for('.download', filename=event.image) }}">
              </div>
            </a>
            <a href="{{ url_for('.view_details', event_id=event.event_id) }}" class="my-link">
              <h4>{{ event.title }}</h4>
            </a>
            <p class="text-muted">{{ misc.get_day(event.start_time.weekday()) }}, {{ event.start_time.day}}
              {{misc.get_month(event.start_time.month - 1)}} - {{ event.venue }} - {{event.status}}</p>
              <p>{{event.description }}</p>
              <p>By {{ event.user.username }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}