{% extends "base.html" %}
{% block title %}Manage Events{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="div-2"></div>
    <div class="row">
      <div class="col">
        <h3>My Events</h3>
      </div>
      <div class="col">
        <form action="{{ url_for('main.create_event') }}">
          <button class="btn btn-primary float-right">Create Event</button>
        </form>
      </div>
    </div>
    <div class="div-1"></div>

    {% include "messages.html" %}

    <div class="div-1"></div>
    
    <div class="row">
      <div class="col-6">
        <p>Event</p>
      </div>
      <div class="col-3">
        <p>Sold</p>
      </div>
      <div class="col-3">
        <p>Status</p>
      </div>
    </div>
    
    {% if events|length > 0  %}
    {% for event in events %}
    
    <div class="my-event-container">
      <div class="row">
        <div class="col-6 d-flex">
          <img class="img-fluid img-thumbnail float-left my-auto"
            src="{{ url_for('main.download', filename=event.image) }}">
            <div class="my-auto">
              <p>{{ event.title }}</p>
              <p>{{ event.formatted_time(event.start_time) }}</p>
              <p>{{ event.address }}</p>
          </div>
        </div>
        <div class="col-3 d-flex">
          <p class="my-auto">{{ event.tickets_sold|string }}/{{ event.tickets_total|string }}</p>
        </div>
        <div class="col-3 d-flex">
          <p class="my-auto">{{ event.status }}</p>
          <div class="dropdown my-auto ms-auto">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"></a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('main.view_details', event_id=event.event_id) }}">View</a>
              <a class="dropdown-item" href="{{ url_for('main.edit_event', event_id=event.event_id) }}">Edit</a>
              <a class="dropdown-item" href="{{ url_for('main.delete_event', event_id=event.event_id) }}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-1"></div>
    {% endfor %}
    {% else %}
    <div class="div-1"></div>
    <p>You have no events to display</p>
    <div class="div-1"></div>
    {% endif %}
  </div>
</div>
<div class="div-2"></div>
{% endblock %}